.THIS.loan-recommendation-card .rate {
    border: 2px solid #1a2745;
}
.THIS.loan-recommendation-card .rate strong {
    font-size: .875rem;
}
.THIS.loan-recommendation-card .rate em {
    font-size: 1.75rem;
    font-style: unset;
}
.THIS.loan-recommendation-card .rate .rate-header {
    background-color: #1a2745;
    padding: 10px;
    color: #fff;
}
.THIS.loan-recommendation-card .rate .rate-body {
    color: #1a2745;
    padding: 10px;
}

.THIS.loan-recommendation-card .card_header{
    background-color: #1a2745;
    color: #fff;
}
.THIS.loan-recommendation-card .width100{
    width:100%;
}
.THIS.loan-recommendation-card .percentage {
    top: 0;
    left: 0;
    font-size: 1.25rem;
    line-height: 1.5rem;
}
.THIS.loan-recommendation-card .percentage-container {
    margin-top: 4px;
    margin-left: 2px;
    height: 33px;
    text-align: left;
}
.THIS.loan-recommendation-card .rate-value {
    font-size: 2rem;
    line-height: 2.5rem;
    font-weight: 800;
}
.THIS.loan-recommendation-card .rate-container {
    display: inline-flex;
}
.THIS.loan-recommendation-card .pa {
    top: 15px;
    left: 1px;
    font-size: .6875rem;
    line-height: 0.125rem;
}
.THIS.loan-recommendation-card .interval .month-interval{
    color: #1a2745;
    font-size: 2rem;
    font-weight: 600;
    text-align: -webkit-center;
}
.THIS.loan-recommendation-card .interval .rate-interval{
    color: #1a2745;
    font-size: 3rem;
    font-weight: 800;
}
.THIS.loan-recommendation-card .btn {
    padding: 5px 15px;
    min-width: 120px;
    border-radius: 0;
    font-size: 1.125rem;
    font-weight: 700;
}
.THIS.loan-recommendation-card .btn.btn-green {
    background-color: #218732;
    color: #fff;
    border-color: #319b42;
}
.THIS.loan-recommendation-card .btn-green:hover {
    background-color: #319b42;
    color: #fff;
    border-color: #218732;
}

.THIS h3.h3 {
    color: #1a2745;
    font-size: 1.5rem;
}
.THIS .card-footer{
    padding: 0.75rem 1rem;
    font-size: 12px;
    text-align: justify;
}
.THIS .brand-btn-style, .THIS .brand-btn-style:focus, 
.THIS .brand-btn-style:active, .THIS .brand-btn-style:hover{
    background-color: #1a2745 !important;
    text-align: left !important;
    border: none !important;
    box-shadow: none !important;
}