.THIS .company-logo img, .THIS.company-logo img{
    width: 200px;
    padding: 10px;
    height: 43px;
}

.THIS .max-700, .THIS.max-700{
    max-width: 700px !important;
    width: 100% !important;
    margin-left: auto !important;
    margin-right: auto !important;

}

.THIS .loginBtn{
    padding-block: 8px;
    background-color: #1a2745;
    border-color: #1a2745;
    color: white;
}

.THIS .buttonCls button{
    height: 35px;
    background-color: #1a2745;
    border-color: #1a2745;
    color: white;
}

.THIS .no-abbr label.slds-form-element__label abbr, .THIS .no-abbr legend.slds-form-element__label abbr {
    display: none;
}

.THIS .slds-has-error .slds-form-element__help{
    width: 110% !important;
}

.THIS .eyebtn{
    border: none !important;
    box-shadow: none !important;
    margin-top: auto;
    margin-left: -28px;
}

.THIS .company-logo, .THIS.company-logo{
    padding: 10px;
    background-color: #1a2745;
    color: #fff;
    min-height: 70px;
    align-items: center;
}

.THIS .header--section,.THIS.header--section{
    background-color: #d2edee;
    text-align: center;
    padding: 15px;
}

.THIS .header-logo{
    border-radius: 72px;
    border: 2px solid #5bc65b;
    width: 90px;
    padding: 10px;
    height: 90px;
    background-color: #FFF;
}

.THIS .heading-style{
    font-size: 1.85rem;
    line-height: normal;
    font-weight: 500;
}

.THIS .inputCls input{
    width: 55%; 
}