.THIS .light-grey-box{
    display: flex;
    min-height: 75px !important;
    min-width: 8rem;
}
.THIS .tabOptionRGB .slds-radio_button-group, .THIS .tabOptionRGB .slds-radio--button-group {
    padding: 8px !important;
    background-color: #edf1f8;
    border: 0px;
}
.THIS .tabOptionRGB label.slds-radio_button__label {
    background-color: #edf1f8 !important;
    color: #9eb7bd;
}

.THIS .tabOptionRGB .slds-radio_button [type=radio]:checked+.slds-radio_button__label{
    background-color: #FFF!important;
    color: #222222;
    border: 0px;
    border-radius: 7px;
}
.THIS .tabOptionRGB span.slds-button.slds-radio_button {
    border: 0px !important;
}
.THIS .slds-checkbox_toggle [type=checkbox]+.slds-checkbox_faux_container .slds-checkbox_off{
    display: none !important;
}
.THIS .slds-checkbox_toggle [type=checkbox]+.slds-checkbox_faux_container .slds-checkbox_on{
    display: none !important;
}

.THIS .export-btn{
    font-weight: bold !important;
    color: #1a2745 !important;
    margin-top: 2px !important; 
    margin-right: 10px !important;    
} 

.THIS .toggle-btn{
    margin-left : 35px !important;
    width: max-content;
    margin-right: 30px;
}

.THIS .activity-box{
    background-color: #fff;
    border-radius: 7px;
    box-shadow: 3px -2px 3px 0px #dfdfdf !important;   
    margin-top: 10px;
    border: 1px solid #d8d8d8;
}

.THIS .downButton{
    color: black !important;
} 

.THIS .downButtonBordered{
   color: black !important;
   box-shadow : 0px 0px 3px 1px #0070d2 !important;
}

.THIS .slds-form-element__label{
    font-weight: bold !important;
    color: #1a2745 !important;
}

.THIS .slds-checkbox_toggle .slds-checkbox_faux{
    background: #9EB7BC !important;
    height: 16px !important;
    width: 40px !important;
    margin-top: 6px !important;
}

.THIS .slds-checkbox_toggle [type=checkbox]:checked+.slds-checkbox_faux_container .slds-checkbox_faux:after{
    display: none !important;
}

.THIS .slds-checkbox_toggle [type=checkbox]:checked+.slds-checkbox_faux_container .slds-checkbox_faux:before{
    background-color: #1a2745 !important;
     top: -3px !important;
     right: -1px !important;
}

.THIS .slds-checkbox_toggle .slds-checkbox_faux:after{
    background-color: #1a2745 !important;
    top: -3px !important;
    left: -1px !important;
}
.THIS .activity-box td{
    padding: 10px 20px 10px 10px !important;
    line-height: initial !important;
    font-size: 11px;
    font-weight: 500;
    
}
.THIS .showRec{
    display: block;
}

.THIS .pageNum{
    border-radius: 5px !important;
}

.THIS .rlArrow{
    border: 1px solid !important;
    border-radius: 5px !important;
    background: white !important;
    padding: 2px 6px 2px 6px !important;
}

.THIS .slds-backdrop{
    background-color: #192744 !important;
    opacity : 0.86 !important;  
}

.THIS .BoxLogo{
    width : 25px;
    margin-top : -7px;
}

.THIS .expt .slds-input_faux{
    background: #f8fafd !important;
    border-color : #f8fafd !important;
    font-weight : bold;
    color: #1a2745 !important;
}
.THIS .expt .slds-dropdown_fluid{
    min-width: 110% !important;
}
.THIS .expt .slds-icon-text-default{
    fill: #1a2745 !important;
}
.THIS .expt .slds-media_small .slds-media__figure{
    display:none !important;
}
.THIS .expt .slds-listbox__option .slds-truncate{
    display:initial !important;
}
.THIS .expt .slds-media__body{
    text-align : center !important;
}