.THIS .slds-backdrop {
    background-color: #192744 !important;
    opacity : 0.86 !important;  
}

.THIS .no-abbr label.slds-form-element__label abbr, .THIS .no-abbr legend.slds-form-element__label abbr {
    display: none;
}

.THIS .assign_modal_yes_btn{
    background-color:#1a2745 !important;
}

.THIS .assign-dark-button{
    background-color: #1a2746 !important;
    border-color: #1a2746 !important;
}

.THIS .assignCmb .slds-input_faux{
    background: white;
    padding-block: 6px !important;
    border: 2px solid #ebecec !important;
    font-size: 14px;
}

.THIS .spin{
    margin-top: 4rem;
    position : absolute !important;
}

.THIS .spinner {
  position: relative;
  background-color: rgba(0, 0, 0, 0.5);
}

.THIS .onSpin{
    opacity :35% !important;
}