.THIS .slds-file--card{
    width : 500px !important;
}
.THIS .NameBox .slds-box{
    padding : 2px !important;
    border-top : none;
    border-left : none;
    border-right : none;
    border-bottom : 1px solid grey;
    border-radius : 0px !important;
    
}
.THIS .NameBox .slds-box a{
    font-size : 18px;
}

.THIS .idText{
    font-size : 20px;
   	font-weight : bold;
}