.fontFamBold{
    font-family: ProximaNovaAlt-Medium;
}
.fontFamreg{
    font-family: Proxima Nova Alt Regular;
}
.text2{
	font-size: 14px;
	color: #1a2745;
}
.text3{
	font-size: 12px;
	color: #1a2745;
}
.text1{
	font-size: 15px;
	color: #1a2745;
}
.margin_Cls{
	margin-top: 16px;
	line-height: normal;
}