.THIS.opportunity-activities-track,.THIS .opportunity-activities-track {
    background: #fff;
    padding: 5px 0px;
    max-height: 30rem;
    overflow: auto;
    position: relative;
}
.THIS .mySpinner{
    position: absolute;
}
.THIS .monthStyle{
    padding: 5px 10px;
    border: 2px solid #717171;
    margin: 0px 0px 4px 7px;
    font-size: 15px;
    font-weight: 700;
    color: #717171;
    width: 10rem;
    text-align: center;
}
.THIS .next-step .monthStyle{
    border: 2px dotted #006ac6 !important;
    color: #006ac6;
}
.THIS .stageStyle{
    padding: 5px 10px;
    text-align: center;
    margin: 0 0 5px 0;
    width: 14rem;
    font-size: 15px;
    font-weight: 700;
    color: #fff;
    background-color: #189618;
}

.THIS .stageStyle .detail {
    font-size: 12px;
    font-weight: 100;
}

.THIS .dateStyle{
    width: 4rem;
    padding: 10px 0px;
    font-size: 12px;
}

.THIS .date-stage-style{
    display: inline-flex;
    z-index: 0;
}

.THIS .filled-circle {
    width: 25px;
    height: 25px;
    border: 4px solid #FFC107;
    top: 2px;
    border-radius: 50%;
    z-index: 1;
    margin-left: 3px;
    background-image: radial-gradient(circle, #FFC107, #e26f15);
    margin: 3px;
}

.THIS .blue-light, .THIS.blue-light{
    color: #006ac6;
}