.THIS .greentick{
    position: relative; 
    bottom: 1px; 
    left: 25px;
}

.THIS .inpUpload .slds-file-selector__dropzone .slds-file-selector__text{
    display: none;
}

.THIS .inpUpload .slds-file-selector__dropzone .slds-file-selector__button{
    font-size: 0px;
    color: white;
    background: #1a2745 ;
    border: none;
}

.THIS .inpUpload:focus{
    outline: none !important;
    border: none !important;
}
.THIS .inpUpload .slds-file-selector__dropzone .slds-file-selector__button:hover{
    cursor: pointer !important;
}

.THIS .inpUpload .slds-file-selector__dropzone .slds-file-selector__button:after{
    color: white;
}

.THIS .inpUpload .slds-file-selector__dropzone{
    border: white;
}

.THIS .crossBtnDisabledFunding{
  /*  border: 1px solid grey !important;
    border-radius: 15px!important; */
    color: grey !important;
    margin-right:60px;
} 

.THIS .crossBtnFinanceFunding{
  /*  border: 1px solid grey !important;
    border-radius: 15px !important; */
    color: grey !important;
    margin-right:60px; 
}

.THIS .inpReplace .slds-file-selector__dropzone .slds-file-selector__button:after{
    content: 'Replace';
    font-size: 13px;
    color: #1a2745;
}

.THIS .inpReplace .slds-file-selector__dropzone .slds-file-selector__text{
    display: none;
}

.THIS .inpReplace .slds-file-selector__dropzone .slds-file-selector__button{
    font-size: 0px;
    color: white;
    background: #1a2745 ;
    border: none;
}

.THIS .inpReplace:focus{
    outline: none !important;
    border: none !important;
}
.THIS .inpReplace .slds-file-selector__dropzone .slds-file-selector__button:hover{
    cursor: pointer !important;
}

.THIS .inpReplace .slds-file-selector__dropzone .slds-file-selector__button:after{
    color: white;
}

.THIS .inpReplace .slds-file-selector__dropzone{
    border: white;
}

.THIS .viewBtn {
    background-color:#1a2745 !important;
   /* width: 150% !important; */
    height: 32px !important;
    color:white !important;
}

.THIS .viewBtn2{
    margin-top:5px;
}

.THIS .viewBtn .slds-button_icon{
    background: none !important;
    color: white !important;
    border: none !important;
    margin-left : -15px;
}

.THIS .customerStyle{
    visibility: hidden;
}

.THIS .mobileView{
    display:none;
}

@media screen and (max-width: 770px) {
     .THIS .desktopView{
		display:none;
    }
    .THIS .mobileView{
        display:flex;
        margin-top:26px
    }
}