.THIS .header--section{
    background-color: #d2edee;
    padding: 15px;
}

.THIS .all-done{
    text-align: center;

}

.THIS .heading_style{
    font-size: 1.85rem;
    font-family: ProximaNova-AltBold;
    line-height: normal;
    padding-bottom: 10px;
}
.THIS .pargraph_style{
    font-size: 1rem;
    font-family: ProximaNovaAlt-Medium;
}

.THIS .max-360, .THIS.max-360 {
    max-width: 360px;
    width: 100%;
    margin-left: auto;
    margin-right: auto;
}

.THIS .heading-sms_style{
    font-family: ProximaNova-AltBold;
    line-height: normal;
}

.THIS .smsblock {
    background-color: #FFF;
    border-radius: 7px;
    margin: 20px 0px;
    text-align: left;
    font-family: ProximaNovaAlt-Medium;
    padding: 10px;
    font-size: .9rem;
}