.THIS .buttonCls button{
    height: 35px;
    background-color: #1a2745;
    border-color: #1a2745;
    color: white;
}

.THIS .no-abbr label.slds-form-element__label abbr, .THIS .no-abbr legend.slds-form-element__label abbr {
    display: none;
}

.THIS .eyebtn{
    border: none !important;
    box-shadow: none !important;
    margin-top: auto;
    margin-left: -28px;
}