.THIS .inp .slds-form-element__label{
    font-size: 15px;
    line-height: initial;
    color: #1a2745;
}

.THIS .inp .slds-form-element__control{
    margin-top : 15px;
}

.THIS .inp .slds-input {
    padding : 5px;
}
.THIS .startButton{
    width: 100% !important;
    height: 50px !important;
}
.THIS .no-abbr label.slds-form-element__label abbr, .THIS .no-abbr legend.slds-form-element__label abbr {
    display: none;
}
.THIS .no-abbr input::-webkit-input-placeholder {
    color: #c4c4c4 !important;
}
/*.THIS .slds-input{    
    border: 2px solid #ebecec !important;
}*/
.THIS .slds-form-element{
    margin-top : -22px;
}
.THIS .stBtn{
    margin-top : 1.5rem;
}

@media (max-width: 700px){
    .THIS .slds-form-element{
        margin-top : 0px !important;
    }  
    .THIS .stBtn{
        margin-top : 6rem;
    }  
}