.THIS .company-logo, .THIS.company-logo{
    padding: 10px;
    background-color: #fff;
    color: #1a2645;
    min-height: 55px;
    border-bottom: 1px solid #cfcfd6;
}
.THIS .company-logo img, .THIS.company-logo img{
    width: 200px;
    padding: 10px;
    height: 43px; 
}

.THIS.bg-lightest, .THIS .bg-lightest {
    background-color: #fff;
}

.THIS .checkout-page-banner--gradient {
    color: #006ac6;
    position: relative;
    overflow: hidden;
    text-transform: uppercase;
    width:100%;
}

.THIS .checkout-page-banner--gradient .heading--page {
    font-size: 2.5rem;
    line-height: 1;
    letter-spacing: 1px;
    font-weight: 900;
    text-align: center;
    font-family: Lexia Ad,Lexia,Trebuchet MS,Lucida Grande,Lucida Sans Unicode,Lucida Sans,Tahoma,sans-serif;
}

.THIS .checkout-page-banner--gradient .page-banner__content-text, .THIS .txt-center-align{
    width:100%;
    text-align: center;
}

.THIS .max-1000,
.THIS.max-1000{
    max-width: 1000px;
    width: 100%;
    margin-left: auto;
    margin-right: auto;
}
.THIS .preNxtBtn{
    display: table;
}

.THIS h2.header {
    font-size: 1rem;
}

.THIS .ul-style{
    list-style: disc;
    padding-left: 2rem;
}

.THIS .rg-style-horizontal .slds-form-element__control{
    display: inline-flex;
}
.THIS .no-abbr label.slds-form-element__label abbr, .THIS .no-abbr legend.slds-form-element__label abbr {
    display: none;
}