.THIS .font-bold {
    font-weight: 900;
}
.THIS .viewUpdate select{
    width : 110px;
    background : transparent;
    border : none;
    outline : none;
}

.THIS .slds-backdrop {
    background-color: #192744!important;
    opacity: .86!important;
}

.THIS .slds-select_container:before{
    display: none !important;
}

.THIS .slds-select_container:after{
    border-top: 7px solid currentColor !important;
    width: 6px !important;
    bottom: calc((var(--lwc-lineHeightButtonSmall,1.75rem) / 2) - 1px) !important;
}

.THIS .cmb1 .slds-input_faux{
    background: #f8fafd !important;
    border-color : #f8fafd !important;
    font-weight : bold;
    color: #1a2745 !important;
}
.THIS .cmb1 .slds-combobox_container{
    float : right !important;
}
.THIS .cmb1 .slds-dropdown_fluid{
    min-width: 115% !important;
}
.THIS .cmb1 .slds-icon-text-default{
    fill: #1a2745 !important;
}

.THIS .cmb2 .slds-input_faux{
    background: white !important;
    color: #1a2745 !important;
}

.THIS .scrollable-spinner-container {
  position: absolute;
  Height : 100%;
  margin-top: 16rem !important;
}

.THIS .spinner {
  position: relative;
  Height : 100%;
  background-color: rgba(0, 0, 0, 0.5);
}

.THIS .OnScrollSpinner{
    opacity :40%;
}