.THIS .slds-timeline__item_task:before {
    background: #006ac6;
    margin-left: 11px;
    left: 4.25rem;
}
.THIS .slds-timeline__item_expandable .slds-media__figure {
    width: 8rem;
    display: inline-flex;
}

.THIS .slds-timeline__item_expandable.slds-is-open .slds-timeline__item_details {
    display: block;
}

.THIS .slds-timeline__item_expandable .slds-timeline__item_details {
    display: none;
}

.THIS .icon_container_style{
    width: 4rem;
    text-align: right;
}

.THIS .next-step .slds-timeline__item_task:before, .THIS.next-step .slds-timeline__item_task:before {
    background: #fff;
    margin-left: 11px;
    left: 4.25rem;
    width: 0px;
    border-left: 2px dotted #006ac6 !important;
}