.THIS .Inp1 lightning-input:before {
    position: absolute;
    content: "$" ;
    top:  16px;
    z-index: 1;
    font-size: 17px;
    left:  12px;
}

.THIS .Inp1 .slds-input{
    padding-left: 25px !important;
    padding-block : 6px !important;
    border: 2px solid #ebecec !important;
    font-size: 15px !important;
}

.THIS .slds-input{
    padding-block : 6px !important;
    border: 2px solid #ebecec !important;
    font-size: 15px !important;
}

.THIS .UploadBtn{
    background-color:#1a2745 !important;
    height : 25px !important;
    border-radius : 6px !important;
    border-color:#1a2745 !important;
}

.THIS .slds-input_faux{
    background: white;
    padding-block: 6px !important;
    border: 2px solid #ebecec !important;
    font-size: 14px;
}

.THIS .SumbmitRequestButton{
    background-color:#1a2745 !important;
    width: 100% !important;
    height: 50px !important;   
}

.THIS .SubmitBtnDisable{
    background-color:#c9c7c5 !important;
    width: 100% !important;
    height: 50px !important;   
}

.THIS .spinner2{
  position: absolute;
  margin-top : 15rem !important;
}

.THIS .spinner {
  position: relative;
  background-color: rgba(0, 0, 0, 0.5);
}

.THIS .onSpin{
    opacity :35% !important;
}