.THIS.path-header .slds-path.pa-card.slds-card {
    border: 0;
}
.THIS.section-content{
    margin-top: 75px;
}
.THIS .initSpins::after {
    position: absolute;
    content: "Fetching today's best rates";
    width: 100%;
    text-align: center;
    top: 21rem;
    font-weight: bold;
    color : #1a2745;
}
.THIS.path-header{
    width:100%;
    position: fixed;
    top: 0;
    z-index: 999;
    max-width: 80rem;
}
.THIS {
    color:#1a2745;
    font-size: 16px;
}

.THIS h4 {
    /*color: #006ac6;*/
    color:#192744;
    font-size: 2rem;
}
.THIS .txt-white {
    color: #fff;
}
.THIS .txt-blue {
    color: #1a2745;
}
.THIS.bg-dark-blue,.THIS .bg-dark-blue {
    background-color: #1a2745;
}
.THIS.bg-light-sky-blue,.THIS .bg-light-sky-blue {
    background-color: #d2edee;
}
.THIS.btn-light-sky-blue, .THIS .btn-light-sky-blue {
    background-color: #91DADC;
    color: #1a2745 !important;
    padding: .5rem 4rem !important;
    border: 1px solid #91dadc;
}
.THIS.btn-light-sky-blue:hover, .THIS .btn-light-sky-blue:hover {
    background-color: #449495;
}
.THIS.txt-dark-blue,.THIS .txt-dark-blue{
    color: #1a2745;
}
.THIS.bg-lightest,
.THIS .bg-lightest {
    background-color: #fff;
}

.THIS .bg-blue,.THIS.bg-blue {
    background-color: #006ac6;
}
.THIS .bg-white {
    background-color: #fff;
}

.THIS.application img {
   max-width:50%;
}
.THIS.application h3 {
   color: #006ac6;
}
.THIS.application h5 {
    font-size: 18px;
    color: #75787b;
    font-weight: 700;
}
.THIS.application p {
    font-size: 1.125rem;
    color: #75787b;
    margin-bottom: 10px;
}
.THIS .image-container .img-logo {
    width: 7rem;
    height: 7rem;
}


.THIS .loan-content h2 {
    font-size: 2.625rem;
    margin: 0 0 8px;
    color:#fff;
    
}
.THIS .loan-content h3 {
    font-size: 3rem;
    line-height: 5rem;
    color: #fff;
    text-shadow: 3px 3px rgba(219, 222, 226, 0.55);
}
.THIS .loan-content p {
    margin-bottom: 24px;
    color: #fff;
    font-size: 1.4rem;
    text-align: justify;
}
.THIS.application .start-options h5{
    font-size: 32px;
    color: #75787b;
    font-weight: 700;
}
.THIS .max-700,
.THIS.max-700{
    max-width: 700px;
    width: 100%;
    margin-left: auto;
    margin-right: auto;
}
.THIS .max-900,
.THIS.max-900{
    max-width: 900px;
    width: 100%;
    margin-left: auto;
    margin-right: auto;
}

.THIS .max-1000,
.THIS.max-1000{
    max-width: 1000px;
    width: 100%;
    margin-left: auto;
    margin-right: auto;
}

.THIS select, .THIS input, .THIS .slds-combobox_container button.slds-combobox__input, .THIS lightning-base-combobox-item {
    /*color: #75787b;*/
    /*color: #192744 !important;*/
    caret-color:#91DADC !important;
}
.THIS .slds-form-element_compound .slds-form-element__row {
    display: flex;
    margin-bottom: .25rem;
    margin-left: -.25rem;
    margin-right: -.25rem;
}
.THIS .slds-form-element_compound .slds-form-element {
    padding-left: 0.25rem;
    padding-right: 0.25rem;
}

.THIS .checkout-page-banner--gradient {
    color: #1a2745;
    position: relative;
    overflow: hidden;
    /*text-transform: uppercase;*/
}

.THIS .checkout-page-banner--gradient .heading--page {
    line-height: 1;
    letter-spacing: 1px;
    font-weight: 900;
    font-size: 1.75rem!important;
    font-family: ProximaNova-AltBold;
}

.THIS .checkout-page-banner--gradient .page-banner__content-text, .THIS .txt-center-align{
    width:100%;
    text-align: center;
}

.THIS .width100{
    width:100%;
}

.THIS .width1280{
    width:1280px;
}

.THIS .width33_3{
    width:33.3%;
}
.THIS .justify-text{
    text-align: justify;
}
.THIS .company-logo, .THIS.company-logo{
    padding: 10px;
    background-color: #1a2745;
    color: #fff;
    min-height: 70px;
    align-items: center;
}
.THIS .company-logo img, .THIS.company-logo img{
    width: 200px;
    padding: 10px;
    height: 43px;
    
}
.THIS .desk_css{
    margin-left: auto;
}
/*mobile view*/
@media screen and (max-width: 770px) {
    .THIS .mob_css{
        margin-top: -15px;
        margin-inline: auto;
    }
  .THIS .company-logo div, .THIS.company-logo div{
        text-align: center;
        padding: 7px;
        font-size: 12px;
    }
    .THIS .checkout-page-banner--gradient .heading--page {
        text-align: left;
        text-transform: initial;
        font-size: 1.75rem;
        padding-left: 15px;
    }
    .THIS .boxalign {
    text-align: -webkit-right;
}
    /*.THIS .header-input-loan-amount{
    	width: 100%;
        display: inline-flex;
    }*/
}
.THIS button.slds-button.slds-button_success {
    color: #fff;
}
.THIS .no-anchor, .THIS .no-anchor:hover, .THIS .no-anchor:active{
    text-decoration: none!important;
    color: #f7c1ae !important;
    border: 1px solid;
    padding: 5px;
     
}
.THIS .boxalign {
    text-align: -webkit-right;
}
.THIS .no-anchor-footer, .THIS .no-anchor-footer:hover, .THIS .no-anchor-footer:active{
    text-decoration: none !important;
    color: #333435 !important;
   
}


.THIS.send-email .header{
    text-align: left;
}

.THIS.send-email .header p{
    font-size: 12px;
}

.THIS.send-email .header h2{
    font-weight: 800;
    padding-bottom: 6px;

}
.THIS .preNxtBtn{
    display: table;
}
.THIS .warning-msg {
    font-size: 9px;
    text-align: justify;
}
.THIS lightning-radio-group.rgbtn legend {
    font-weight: 400 !important;
}
.THIS .no-abbr label.slds-form-element__label abbr, .THIS .no-abbr legend.slds-form-element__label abbr {
    display: none;
}

.THIS .disabled-btn span.slds-button.slds-radio_button:nth-child(2) label {
    pointer-events: none;
}

.THIS .applicant2-BG-color{
    background-color: #f0f8ff;
    /*margin-left: -10px;
    margin-right: -10px;
    padding-left: 10px;
    padding-right: 10px;*/
    /*margin-left: -5px;
    margin-right: -5px;
    padding: 10px;*/
}
.THIS h1.header-text {
    font-size: 22px;
    font-weight: 800;
}
/*
.THIS.slds-input,.THIS .slds-input, .THIS.slds-button label, .THIS .slds-button label, .THIS button.slds-button{
    padding: 10px !important;
}*/

.THIS .slds-radio_button {
    color: black;
}
/*.THIS .slds-radio_button .slds-radio_button__label {
    padding:10px;
}*/
.THIS .slds-input:focus, .THIS .slds-input:active {
    border-color: #91DADC;
    box-shadow: var(--sds-c-input-shadow-focus, 0 0 3px var(--lwc-brandAccessible,#91DADC));
}
.THIS .slds-radio_button [type=radio]:checked+.slds-radio_faux, 
.THIS .slds-radio_button [type=radio]:checked+.slds-radio--faux, 
.THIS .slds-radio_button [type=radio]:checked~.slds-radio_faux, 
.THIS .slds-radio_button [type=radio]:checked~.slds-radio--faux, 
.THIS .slds-radio_button [type=radio]:checked+.slds-radio_button__label, 
.THIS .slds-radio_button [type=radio]:checked+.slds-radio--button__label, 
.THIS .slds-radio--button [type=radio]:checked+.slds-radio_faux, 
.THIS .slds-radio--button [type=radio]:checked+.slds-radio--faux, 
.THIS .slds-radio--button [type=radio]:checked~.slds-radio_faux, 
.THIS .slds-radio--button [type=radio]:checked~.slds-radio--faux, 
.THIS .slds-radio--button [type=radio]:checked+.slds-radio_button__label, 
.THIS .slds-radio--button [type=radio]:checked+.slds-radio--button__label {
    background-color: #91DADC;
    /*color: var(--lwc-colorTextButtonBrand,rgb(255, 255, 255));*/
    color:#192744;
    border-radius: 0px;
   
            
}
.THIS .rg-split-min-size .slds-radio_button [type=radio]:checked+.slds-radio_faux, 
.THIS .rg-split-min-size .slds-radio_button [type=radio]:checked+.slds-radio--faux, 
.THIS .rg-split-min-size .slds-radio_button [type=radio]:checked~.slds-radio_faux, 
.THIS .rg-split-min-size .slds-radio_button [type=radio]:checked~.slds-radio--faux, 
.THIS .rg-split-min-size .slds-radio_button [type=radio]:checked+.slds-radio_button__label, 
.THIS .rg-split-min-size .slds-radio_button [type=radio]:checked+.slds-radio--button__label, 
.THIS .rg-split-min-size .slds-radio--button [type=radio]:checked+.slds-radio_faux, 
.THIS .rg-split-min-size .slds-radio--button [type=radio]:checked+.slds-radio--faux, 
.THIS .rg-split-min-size .slds-radio--button [type=radio]:checked~.slds-radio_faux, 
.THIS .rg-split-min-size .slds-radio--button [type=radio]:checked~.slds-radio--faux, 
.THIS .rg-split-min-size .slds-radio--button [type=radio]:checked+.slds-radio_button__label, 
.THIS .rg-split-min-size .slds-radio--button [type=radio]:checked+.slds-radio--button__label {
    min-width: 6rem;
}
.THIS .slds-form-element__legend {
    font-weight: 400 !important;
}
.THIS .slds-radio_button [type=radio]:checked+.slds-radio_button__label:hover{
     /*background-color: #449495;*/
     background-color:#91DADC;
    
}
.THIS  label{
  box-shadow: none !important;
  outline:#91DADC !important;

}
.THIS .header-input-loan-amount{
    display: inline-flex;
    padding: 5px;
    align-items: center;
    /*width: 50%;*/
}
                    
.THIS .no-anchor-save, .THIS .no-anchor-save:hover, .THIS .no-anchor-save:active {
    text-decoration: none!important;
    color: #1a2745!important;
    border: 1px solid;
    padding: 5px;
    font-size: 14px;
    background: #91DADC;
    border-radius: 3px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: clip;
    display: block;
    text-align: center;
    
}
                    
.THIS .no-anchor-share, .THIS .no-anchor-share:hover, .THIS .no-anchor-share:active {
    text-decoration: none!important;
    color: #FFF !important;
    border: 1px solid;
    padding: 5px;
    font-size: 14px;
    border-radius: 3px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: clip;
    text-align: center;
    display: block;
    margin-right: 10px;
}
.THIS .rg-split {
    width: 100%;
}
.THIS .rg-split .slds-radio_button-group, .THIS .rg-split .slds-radio--button-group {
    border : 0;
    text-align: center;
    width: 100%;
}
.THIS .rg-split label.slds-radio_button__label {
    margin: 0px 5px;
    padding: 1px 5px;
    border-radius: .25rem !important;
    border: 1px solid #91DADC;
    width: 100%;
    display: flex;
    justify-content: center;
    align-content: center;
    align-items: center;
    min-width: 5.1rem;
    padding: 0.62rem
}
.THIS .rg-split-min-size label.slds-radio_button__label {
    min-width: 6rem;           
}           
.THIS .rg-split .slds-radio_faux{
    padding: 5px !important;
    line-height: 1.4;
}           
.THIS .rg-split .slds-radio_button+.slds-radio_button, .THIS .rg-split .slds-radio_button+.slds-radio--button, .THIS .rg-split .slds-radio--button+.slds-radio_button, .THIS .rg-split .slds-radio--button+.slds-radio--button {
    border-left: none;
}
.THIS .continue-btn-style{
    width: 100%;
    padding: 10px;
    background-color: #91dadc;
    border-color: #91dadc;
    color: #1a2745 !important;
    font-size: 1.25rem;
}
.THIS label.slds-form-element__label,.THIS .slds-form-element__label,
.THIS legend.slds-form-element__legend.slds-form-element__label{
     font-size: 16px;
     font-family: Proxima Nova Alt Regular;
     margin-bottom: 5px ;
     /*color:#192744;*/
     padding-left: 4px !important;
     color: #1a2745;
    
}
            
.THIS .privious-button_style{
    padding:  18px !important;
    border: 2px solid !important;
    padding-left: 3rem !important;
    padding-right: 3rem !important;
    font-family: ProximaNovaAlt-Medium;
  /*  color: var(--slds-c-button-color-border, var(--sds-c-button-color-border, transparent)) !important;
   */ background: rgb(245 245 245) !important;
    color: #0176d3 !important; 
     
}
.THIS .privious-button_style:hover{
    color : #10467a !important;
    background: #f5f5f5 !important;
}
.THIS .save-button_style{
    font-family: ProximaNovaAlt-Medium;
    padding: 20px !important;
    border: 2px #45c65a !important;
    padding-left: 2.7rem!important;
    padding-right: 2.6rem!important;
    color:white !important;
    
}
                        
@media screen and (max-width: 770px) {
.THIS .no-anchor-share, .THIS .no-anchor-share:hover, .THIS .no-anchor-share:active {
    margin-right: 0px;
  }
}
.THIS lightning-base-combobox-item {
    border-bottom: 1px solid #dddddd !important;
    font-size:18px;
    color:black !important;
}
.THIS .slds-scope .slds-dropdown-trigger_click.slds-is-open .slds-dropdown,.THIS .slds-scope .slds-dropdown-trigger--click.slds-is-open .slds-dropdown{ 
    bottom: -100px;
    left: 10px;
    max-width: 70%;
    width: 70%;
    min-width: fit-content;
    border-radius: 3%;
    background-color: white;
    /*opacity: .9;*/
    color:black !important;
    font-family: Proxima Nova Alt Regular;
}
.THIS .error-section {
    min-width: 94% !important;
    padding: 10px;
    margin: 14px;
}
.THIS .slds-scope .slds-truncate {
    max-width: 100%;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    font-size: 18px !important;
    font-family: Proxima Nova Alt Regular;
    
}
/*.THIS label.slds-form-element__label {
    margin-bottom: 8px !important;
    color:#192744;
}*/
.THIS input[type="radio"]:checked + label{
                  font-weight:800;          
}
.THIS .max_width250{
    font-family: ProximaNova-AltBold;
    width: 100%;
    margin-left: auto;
    margin-right: auto;
    max-width: 270px;                    
}
.THIS ::placeholder{
    color:lightgray;
    opacity: 1;
                            
}
.THIS b{
        font-family: ProximaNova-AltBold;
}
.THIS .lightgrayHelpText{
      color:lightgray;
      opacity: 1;                      
}
.THIS .slds-scope .slds-select_container:before, .THIS .slds-scope .slds-select_container:after {
    border-left: 5px solid transparent !important;
    border-right: 5px solid transparent !important;
}
.THIS .slds-spinner,.THIS.slds-spinner {
    top: 500px;
}